@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  overflow: hidden;
  touch-action: manipulation;
}

/* Utilitários de Textura */
.texture-overlay {
  background-blend-mode: multiply;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }